.App {
  text-align: center;
}

.camera-container {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.camera-view {
  width: 100%;
  height: auto;
  border: 1px solid black;
}

.captured-image-container {
  margin-top: 20px;
}

.captured-image {
  max-width: 100%;
  height: auto;
  border: 1px solid black;
}

button {
  margin-top: 10px;
}